<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F33E23331EF3EEA900C7C0C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33E234C1EF3EEA900C7C0C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F33E23571EF3EEA900C7C0C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
